<ion-header>
  <ion-toolbar>
    <ion-title>Page de connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/logo1.png" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Bienvenue</ion-card-subtitle>
            <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content>
                <p>
                      Bienvenue
                  SN Miaam est une chaine de restaurant senegalaise ouverte
                  au monde car explorant toute les saveurs du monde 
                  nous vous invitions a venir deguster nos menu passant de la cuisine 
                  urvaine a la gastronomie du mode 
                  Bienvenue chez vous !!
                </p>
        </ion-card-content>
    </ion-card>
  <form [formGroup]="loginForm" (submit)="login(loginForm.value)">
    
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input required formControlName="identifier"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="full"> Se connecter </ion-button>
    <ion-button color="secondary" [ngStyle]="{'width': 20}" routerLink="/register"> S'inscrire </ion-button>
    <ion-button color="danger" [ngStyle]="{'width': 10}"  (click)="sendCode(loginForm.value)" routerLink="/password"> Mot de passe oublié ? </ion-button>
  </form>

</ion-content>
